html, body {
  top: 0px;
	height: 100%;
}

h1 {
    font-family:"Roboto Slab",serif;
    font-size:2vw;
    color:black;
}

h2 {
    font-family:"Roboto Slab",serif;
    font-size:1.5vw;
    font-weight:400;
    color:black;
}

p {
    font-family:"Roboto Slab",serif;
    font-weight:400;
    font-size:1.3vw;
    color:black;
}

ol li {
    font-family:"Dosis",sans-serif;
    font-size:2vw;
    text-align:left;
    color:#D2B96B;
}

ol li span {
    color:black;
}

.nominee-list ol li:hover {
    opacity:0.5;
    /*cursor:pointer;*/
}

.main {
    height:97%;
    width:100%;
    position: relative;
    float: left;
}

.title {
    /*background:gray;*/

    font-family:"Roboto Slab",serif;
    font-size:2vw;
    color: black; /*#D2B96B;*/
    opacity:0.4;

    margin: 30px;
}

#award-title {
    width:35vw;
}

.award-builder {
    /*background: gray;*/

    display: inline;
    position:absolute;
    width:100%;
    text-align:center;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}

/*DROPDOWN MENU FORMATTING*/

.drop-button {
    padding: 15px 15px 5px 15px;

    font-size: 6vw;
    font-family: "Dosis", sans-serif;
    text-align:center;

    border-bottom: 2px solid #D2B96B;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding:10px;
    margin-bottom: 20px;
}


.dropdown-content {
    display: none;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);

    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    font-family: "Dosis", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    color: black;
    padding:20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    opacity:0.5;
}

#year-dropdown {
    height:210px;
    overflow-x: hidden;
}



/*BUTTON FORMATTING*/

.go-button {
    margin:auto;
    width:6vw;
    height:6vw;
    background-image: url("oscar-button.svg");
    background-repeat: no-repeat;
}

.go-button:hover, .help-button:hover, .close-button:hover, .back-button:hover {
    opacity:0.5;
    cursor: pointer;
}

.help-button {
    font-family:"Roboto Slab", serif;
    font-size:1.5vw;
    font-weight:400;
    color: #D2B96B;
    margin-bottom: 100px;
}


/*ABOUT THIS AWARD FORMATTING*/

.about-award {

    background-color: white;
    border:2px solid #D2B96B;
    padding:20px;

    position: absolute;
    width:30%;
    height:20%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);

    text-align:center;

}

.close-button {
    position:fixed;
    right:0;
    top:0;
    margin:0 10px 0 10px;

    font-family:"Dosis", sans-serif;
    font-size:2vw;
    font-weight:700;
    color: #D2B96B;
}

/*AWARD PRESENTER FORMATTING*/

.award-presenter {

    position:absolute;
    width:100%;
    text-align:center;
    margin-bottom:100px;

    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);

}

.nominees {
    margin-top:75px;
    position:relative;
}

.nominee-chart, .nominee-list {
    position:relative;
    display:inline;
}

.nominee-chart {
    width:50%;
    height:70%;
    margin-left:5%;
    margin-top:4%;
    float:left;


    /*background-color:gray;*/
}

.nominee-list {

    width:40%;
    height:50%;
    margin-right:5%;
    float: right;

    text-align:left;

    /*background-color: red;*/
}


.back-button {

    position:absolute;

    top:100%;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);

    text-align: center;
}

.back-button p {
    color:#D2B96B;
    font-family:"Dosis",sans-serif;
    font-size:3vw;
    font-weight:700;
}
