/*Adapted from http://codepen.io/vulchivijay/pen/gPxrvb by vijayakumar */

.loader * {
  box-sizing: border-box;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.loader	.spinnerBlock {
	animation: rotate 600ms linear infinite;
	transform-origin: center;
	display: block;
	height: 50px;
	width: 50px;
}

.loader	span {
	display: block;
	border: 2px solid #D2B96B;
	border-radius: 50%;
	height: 100%;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
	/*transition: all 400ms linear 500ms;*/
}

.loader	.spinnerBlock :nth-child(1) {
    left: 0px;
    top: 0px;
	}
.loader	.spinnerBlock :nth-child(2) {
		left: -18px;
		top: 10px;
	}
.loader	.spinnerBlock :nth-child(3) {
		left: -18px;
		top: -10px;
	}
.loader	.spinnerBlock	:nth-child(4) {
		left: 0;
		top: -18px;
	}
.loader	.spinnerBlock	:nth-child(5) {
		left: 18px;
		top: -10px;
	}
.loader	.spinnerBlock :nth-child(6) {
		left: 18px;
		top: 10px;
	}
.loader	.spinnerBlock :nth-child(7) {
		left: 0;
		top: 18px;
	}

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
